.metadata {
    width: 100%;
    margin: 0 auto;
    color: rgb(60,60,60);
}

.metadata p {
    color: rgb(60,60,60);
    width: 100%;
    margin: 0;
}

.metadata textarea { 
    border:none;
    box-shadow: none;
    background-color: rgba(200,200,200,.3);
    border-radius: 7px;
    outline: none;
    resize: none;
    font-size: 1em;
    height: 4em;
    color: rgb(50,50,50);
    border: 1px solid lightgrey;
    width: 98%;
}

.edit-button {
    display: none;
    position: absolute;
    color: rgba(127, 127, 252, 0.5);
    cursor: pointer;
    margin-left: 1em;
}

.metadata:hover .edit-button { 
    display: inline;
} 

.metadata__title input
{
    font-size: 1.4em;
    border:none;
    box-shadow: none;
    border-radius: 7px;
    background-color: rgba(200,200,200,.3);
    outline: none;
    font-weight: 600;
    caret-color: rgba(0,0,0,0.2);
    color: rgb(90,90,90);
    margin: 1em auto;
    border: 1px solid lightgrey;
    width: 98%;
}

.metadata__title {
    margin-top: 1em;
    font-weight: 600;
    width: 100%;
}

.metadata__description {
    margin-top: 1em;
    font-weight: 600;
    width: 100%;
}

.metadata__tuning {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 1em;    
    align-items: baseline;
    margin-top: 1em;
    font-weight: 600;
    width: 50%;
}


.tuning { 
    display: flex; 
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}
.tuning__inputs {
    border: 1px solid lightgrey;
    padding: .1em .5em;
    background-color: rgba(200,200,200,.3);
    border-radius: 25px;
}

.tuning__inputs > input { 
    width: 1em;
    margin: 0 .3em 0 .5em;
    border:none;
    outline: none;
    background-color: rgba(200,200,200,.0);
}


@media (max-width: 75em) {
    .metadata__description, .metadata__title {
        width: 98%;
    } 
}