.metadata {
    margin: 0 auto;
    color: rgb(40,40,40);
    width: 400PX!important;
}

.metadata p {
    color: rgb(40,40,40);
    width: 100%;
    margin: 0;
}

.metadata textarea { 
    border:none;
    box-shadow: none;
    background-color: rgba(200,200,200,0);
    border-radius: 4px;
    outline: none;
    resize: none;
    font-size: 1em;
    height: 4em;
    color: rgb(40,40,40);
    border: 1px solid lightgrey;
    padding-left: 3px;
    width: 100%;
    box-sizing: border-box;
}

.edit-button {
    display: none;
    position: absolute;
    color: rgba(127, 127, 252, 0.5);
    cursor: pointer;
    margin-left: 0em;
}

.metadata:hover .edit-button { 
    display: inline;
} 

.metadata__title input
{
    font-size: 1.4em;
    border:none;
    box-shadow: none;
    border-radius: 4px;
    background-color: rgba(200,200,200,0);
    outline: none;
    font-weight: 600;
    caret-color: rgba(0,0,0,0.2);
    color: rgb(40,40,40);
    border: 1px solid lightgrey;
    padding-left: 4px;
    width: 100%;
    margin: 1em auto;
    box-sizing: border-box;
}

.metadata__title {
    margin-top: 1em;
    font-weight: 600;
}

.metadata__description {
    margin-top: 1em;
    font-weight: 600;
}

.metadata__tuning {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 1em;    
    align-items: baseline;
    margin-top: 1em;
    font-weight: 600;

}


.tuning { 
    display: flex; 
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}
.tuning__inputs {
    border: 1px solid lightgrey;
    padding: .1em .5em;
    background-color: rgba(200,200,200,0);
    border-radius: 4px;
}

.tuning__inputs > input { 
    width: 1em;
    margin: 0 .3em 0 .5em;
    border:none;
    outline: none;
    background-color: rgba(200,200,200,.0);
}


@media (max-width: 1300px) {
    /* Styles */
      
    }

@media (max-width: 1200px) {
/* Styles */
    
}

@media (max-width: 1100px) {
    /* Styles */
    
}

@media (max-width: 1000px) {

}

@media (max-width: 880px) {
 
}

@media (max-width: 850px) {
   
}

@media (max-width: 850px) {
    
}  

@media (max-width: 800px) {
   
}



@media (max-width: 750px) {
    
}



@media (max-width: 690px) {

}

@media (max-width: 650px) {

}

@media (max-width: 620px) {

}

@media (max-width: 610px) {

}


@media (max-width: 560px) {

}

@media (max-width: 480px) {

}


@media (max-width: 420px) {

}

@media (max-width: 390px) {

}

@media (max-width: 370px) {

}


@media (max-width: 365px) {

}
    
   
@media (max-width: 350px) {

}


@media (max-width: 335px) {

}

    

@media (max-width: 325px) {

}

   
@media (max-width: 300px) {

}

@media (max-width: 280px) {
   
}
    