.control-panel__container--mobile {
    position:absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(20,20,20,1);
    width: 100%;
    height: 41vh;
    box-shadow: 0px 5px 10px rgba(40,40,40,.2);
    margin: 0;
    z-index: 10;
}

/*-----------------------------------------------------------------------------*/
/*Tuning buttons*/
.mobile-tabs-input {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
}

.tuning-button {
    width: 100%;/*----------------------------------------------------------------*/

    text-align: center;
    color: rgb(200,200,200);
    padding: .3em;
    cursor: pointer;
}

.tuning-button:hover {
    background-color: rgba(100,100,100,1);
}
/*-----------------------------------------------------------------------------*/
/* Buttons */

.button {
    display: inline-block;
    text-align: center;
    font-size: .8em;
    color:rgba(200,200,200, 1);
    background-color: rgba(20,20,20,1);
    border:0;
    padding: .3em .8em;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: rgba(100,100,100,1);
}

.mobile-button__container {
    display: flex;
    flex-direction: row;
    border: none;
    background-color: rgba(20,20,20,1);
}

.add-row--triggered {
    background-color: rgba(80,80,80,1);
}

.add-row--triggered:hover {
    background-color: rgba(80,80,80,1);
}
/*----------------------------------------------------------------------------*/
/*Text*/

.text {
    width: 100%;
}

.text-row {
    width: 100%;
    display: flex;
}

.text-row button {
    width: 100%;
    border:none;
    padding: .4em;
    text-align: center;
    color:rgba(200,200,200, 1);
    background-color: rgba(20,20,20,1);
    cursor: pointer;
}

.text-row button:hover {
    background-color: rgba(100,100,100,1);
}

hr {
    width: 96%;
    border-bottom: none;
}
/*----------------------------------------------------------------------------*/
/*Arrow row*/

.arrow-row {
    display:flex;
    width:100%;
    color: rgb(200,200,200);
    justify-content: space-between;
}

.arrow-row p {
    color: rgb(200,200,200);
    width: 100%;
    text-align: center;
    padding: .4em;
    cursor: pointer;
}

.arrow-row p:hover {
        background-color: rgba(100,100,100,1);
}

.arrow-row i {
    font-size: 2em;
    margin: 0 1em;
    cursor: pointer;
}

.arrow-row button {
    background:none;
    border:none;
    border: 1px solid rgba(255,255,255, 0.2);
    color: white;
    width: 10%
}
/*-------------------------------------------------------------------------*/
/*Unique components*/
.shift {
    font-size: 1em;
    border-radius: 3px;
    border: 1px solid rgba(255,255,255, 0.2);
    width: 100px;;
}
