.editor {
    background-color: white;
    justify-content: center;
    height: 100%;
    overflow-y: scroll;
    padding: 4em 0;
}

.tab-display__container
{
    width: 100%;
    display: flex;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}


.tab-display {

    padding-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0 auto;
}

.tab-display div {
    /* margin-left:30px; */
    width: 100%;
}
.tab-display__container
{

}

@media only screen and (min-width : 540px) and (max-width : 2000px) {
    .control-panel__container--mobile {
        display: none;
    }
    .control-panel__container {
        display: block;
    }
}

/*=============================================================================================*/
/*  tab-display */
/* @media (max-width: 900px) {
    .tab-display {
        width: 420px;
    }
}
@media (max-width: 500px) {
    .tab-display {
        width: 400px;
    }
}

@media (max-width: 470px) {
    .tab-display {
        width: 350px;
    }
} */

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) and (max-width : 540px) {
/* Styles */
.editor
    {
        padding-left: 0;
    }
    .control-panel__container--mobile {
        display: block;
    }
    .control-panel__container {
        display: none;
    }
    .tab-display {
        margin:0;
    }

}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
.editor
    {
        padding-left: 0;
    }
    .control-panel__container--mobile {
        display: block;
    }
    .control-panel__container {
        display: none;
    }
    .tab-display {
        margin:0;
    }
    .tab-display__tabs {
        margin-left: 0px;
    }
}
