.tab-column__container { 
    display: flex;
    flex-direction:column;
}
.tab-column { 
    width: auto;
    float:left;
    cursor: pointer;
    text-align: center;
    border-radius: 3px;
}
.tab-column:hover { 
    background-color: rgba(255,255,255,.4)}

.tab-column--activated{ 
    background-color: rgba(255,255,255,.3);
    box-shadow: 1px 1px 5px 5px rgba(0,0,0,.01);
}

p { 
    height: 1.5em;
    width: 1.4em;
    font-size: 1em;
    margin: 0;
    color: black;
}

.text-box { 
    cursor: pointer;
    width: 99%;
}

@media (max-width:70em) {
    p {
        width:1.44em;
        font-size: .9em; 
    }
}

@media (max-width:62em) {
    p {
        width:1.44em;
        font-size: .7em; 
    }
}


@media (max-width:50em) {
    p {
        width:1.5em;
        font-size: .5em; 
    }
}


@media (max-width:40em) {
    p {
        width:1.48em;
        font-size: .1em; 
    }
}


@media (max-width:30em) {
    p {
        width:1.5em;
        font-size: .3em; 
    }
}