.settings {
    height: 2em;
    border: none;
    background-color:rgba(0,0,0,0);
    color: rgba(220,80,80, 1);
    font-weight: 600;
    font-size: .8em;
    cursor: pointer;
    position: absolute;
    top: 1em;
    right: 0em;
    display: none;
}

.tab-row__main-container { 
    margin: 0  auto;
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    width: 100%;
}

.tab-row__sub-container {
    display: block;
    margin: 0  auto;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

.tab-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

.text-box .text-box {
    border: none;
    outline: none;
    font-size: 1em;
    width: 100%;
    height: auto;
    background-color: lightgray;
    border-radius: 5px;
} 

.text-box p { 
    width: 60em;
    overflow: hidden;
    font-size: .9em;
    height: auto;
    width: 90%;
}

.tab-row:hover .settings{ 
    display: block;
}

.container__tab-blocks { 
    display: flex;
}

.container__tab-block { 
    display: flex;
    flex-direction: row;
}



@media (max-width: 34em){
    .tab-row__sub-container {
        width:100%;
    }
}


@media (max-width: 60em){

    .container__tab-blocks { 
        display: flex;
        flex-direction: column;
    }
}